<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904160138868-f6orcciqf14vo1hsa6bukogjjb8vv9k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904160138868-f6orcciqf14vo1hsa6bukogjjb8vv9k2</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8gsdXQxP-WeoB1lB_KBKZd0z3gDbsCg</string>
	<key>GCM_SENDER_ID</key>
	<string>904160138868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stanCiprian.FashionAssistant</string>
	<key>PROJECT_ID</key>
	<string>fashionassistant-697ba</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionassistant-697ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904160138868:ios:68a9e242023e4f6b1ba321</string>
</dict>
</plist>